<div class="product-trace-container">

  <p class="intro-text">
    Escanea el QR de tu producto para descubrir el origen de sus ingredientes.<br>
    En el mapa verás cada ingrediente según su origen geográfico.
  </p>

  <button class="scan-btn" (click)="toggleScanner()">
    {{ showScanner ? 'Cerrar escáner' : 'Escanear producto' }}
  </button>

  <!-- Lector QR -->
  <div *ngIf="showScanner" class="qr-container">
    <qr-scanner (qrCodeScanned)="onQrScanned($event)"></qr-scanner>
  </div>

  <!-- Nombre del producto -->
  <h3 *ngIf="showMap" class="product-name">{{ productName }}</h3>

  <h4 *ngIf="showMap"> Ingredientes y su origen:</h4>
  <!-- Mapa -->
  <div *ngIf="showMap" class="map-container">
    <div #mapContainer class="map-inner"></div>
  </div>
</div>
